<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%-include('partials/navigation') %>
    <naim class="container vh-100 pt-2 text-center d-flex justify-content-center aling-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center aling-items-center">about</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, minima tempora porro dolorum
                 nisi nam doloribus corporis incidunt, dolore est illo consequatur eos totam id ex non, voluptatibus hic. Aperiam!</p>
        </section>
    </naim>
    <h1>Esta es la pagina about</h1>
    <%-include('partials/footer') %>
    
    

    
</body>
</html>