<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%-include('partials/navigation') %>
    <header class="container vh-100 d-flex justify-content-center aling-items-center">
        <div class="container d-flex flex-column justify-content-center aling-items-center">
            <img src="/img/logo.png" alt="logo" class="w-20">
            <h1 class="display-1 my-5 text-uppercase fw-bold">Cursor NodeJS</h1>
            <a href="/about" class="btn btn-primary">Acerca de...</a>
        </div>
    </header>
    <h1>Sirve el index</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Sequi repellat blanditiis repudiandae, similique praesentium,
          quis ratione nam voluptatem excepturi quod laborum eligendi nobis quaerat error tempore et,
           corrupti facere recusandae!
    </p>
    <%-include('partials/footer') %>
    
</body>
</html>