<footer>
    <h3>Este es el footer</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae blanditiis ad vitae in suscipit, facere eveniet rerum cum dolor iste delectus
         similique perspiciatis veritatis exercitationem assumenda tenetur recusandae. Eum, doloribus!
    </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>